In [612]:
import pandas as pd

In [613]:
heroes_data = r'C:\Users\ashle\pandas-challenge\purchase_data.csv'

In [614]:
#create df for csv file imported
purchase_data_df = pd.read_csv(heroes_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [615]:
#identify columns
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [616]:
#make sure no duplicate players are counted
users_df = purchase_data_df["SN"].unique()
users_count_df = len(users_df)
users_count_df

576

In [617]:
#create new dataframe
player_count = purchase_data_df.loc[:,["Gender","SN","Age"]]
player_count = player_count.drop_duplicates()
total_count = player_count.count()[0]
pd.DataFrame({"Total Players" :[total_count]})

   Total Players
0            576

In [618]:
#find female gender demographics
gender_demo_F = player_count.loc[purchase_data_df["Gender"] == "Female", :]
ppgf = len(gender_demo_F)
ppgf

81

In [619]:
#find unqiue Item IDs
items_df = purchase_data_df["Item ID"].unique()
items_count_df = len(items_df)
items_count_df

179

In [620]:
#find Total number of purchases
average_price = purchase_data_df["Price"].mean()
total_purchases = len(purchase_data_df["Purchase ID"])
total_revenue = purchase_data_df["Price"].sum()

In [621]:
#create table to display Purchase Analysis
purchase_analysis_df = pd.DataFrame({"Unique Number of Items": items_count_df, "Average Price": average_price, "Number of Purchases": total_purchases, "Total Revenue": total_revenue}, index=[0])
purchase_analysis_df.head()

   Unique Number of Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [622]:
gender_count = player_count["Gender"].value_counts()
gender_count.head()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [623]:
#create table for Total Gender Counts
gender_count = player_count["Gender"].value_counts()
gender_percent=gender_count/total_count *100
gender_percent_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent})

In [624]:
gender_percent_df["Percentage of Players"] = gender_percent_df["Percentage of Players"].map("{:,.2f}%".format)
gender_percent_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [625]:
#Groupby Gender for calculations
group_by_gender = purchase_data_df.groupby(["Gender"])
purchase_by_gender = group_by_gender["Price"].sum()
purchase_by_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [626]:
avg_per_gender = group_by_gender["Price"].mean()

In [627]:
pc_gender = group_by_gender["Gender"].count()

In [628]:
#total average per person
perpersonavg = purchase_by_gender/gender_count
perpersonavg

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [629]:
#Purchase Analysis per Gender
pa_g_df = pd.DataFrame({"Purchase Count":pc_gender , "Average Purchase Price": avg_per_gender, "Total Purchase Value": purchase_by_gender, "Avg Total Purchase per Person": perpersonavg})

In [630]:
#format columns 
pa_g_df["Average Purchase Price"] = pa_g_df["Average Purchase Price"].map("${:,.2f}".format)
pa_g_df["Total Purchase Value"] = pa_g_df["Total Purchase Value"].map("${:,.2f}".format)
pa_g_df["Avg Total Purchase per Person"] = pa_g_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
pa_g_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [631]:
#AGE demographics- establish bins for ages
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,99]
bin_labels = ["0-9", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      0-9
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['0-9' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [632]:
purchase_data_df["Age Range"]=pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)
grouped_by_age_df = purchase_data_df
grouped_by_age_df = grouped_by_age_df.groupby(["Age Range"]).sum()
grouped_by_age_df.head()

           Purchase ID   Age  Item ID    Price
Age Range
0-9              10009   181     2428    77.13
10-14            10114   319     2719    82.78
15-19            54859  2284    12798   412.89
20-24           139573  7971    32335  1114.06
25-29            41072  2626     9128   293.00

In [633]:
#group by Age Range
#grouped_age = player_count.groupby("Age Range").count()

In [634]:
#create age datafram
age_df = pd.DataFrame({"Total Count": grouped_age,"Percentage of Players": age_percent})

In [635]:
age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:.2f}%".format)
age_df

           Total Count Percentage of Players
Age Range
0-9                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [636]:
purchase_by_age = grouped_by_age_df["Price"]

In [637]:
purchasedata_2 = purchase_data_df.groupby("Age Range")

In [638]:
averagebyage = purchasedata_2["Price"].mean()
purchasecountbyage = purchasedata_2["SN"].count()
avg_per_person_age = purchase_by_age/grouped_age

In [639]:
purchases_by_age_df = pd.DataFrame({"Purchase Count":purchasecountbyage , "Average Purchase Price": averagebyage, "Total Purchase Value": purchase_by_age, "Avg Total Purchase per Person": avg_per_person_age})

In [640]:
purchases_by_age_df["Average Purchase Price"]=purchases_by_age_df["Average Purchase Price"].map('${:.2f}'.format)
purchases_by_age_df["Total Purchase Value"]=purchases_by_age_df["Total Purchase Value"].map('${:.2f}'.format)
purchases_by_age_df["Avg Total Purchase per Person"]=purchases_by_age_df["Avg Total Purchase per Person"].map('${:.2f}'.format)

In [641]:
purchases_by_age_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
0-9,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81

In [642]:
#Top Spenders Analysis
grouped_by_username = purchase_data_df.groupby(["SN"])

In [643]:
top_spender_count = grouped_by_username["Purchase ID"].count()
avg_spender_price = grouped_by_username["Price"].mean()
total_spend_user = grouped_by_username["Price"].sum()

In [644]:
top_spenders_df = pd.DataFrame({"Purchase Count": top_spender_count, "Average Purchase Price":avg_spender_price,"Total Purchase Value": total_spend_user})

In [645]:
top_spenders_df["Average Purchase Price"]=top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df["Total Purchase Value"]=top_spenders_df["Total Purchase Value"].map("${:.2f}".format)

In [646]:
#set the data to descending
top_spenders_df = top_spenders_df.sort_values("Purchase Count",ascending=False)
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

In [647]:
#Most Popular Items
grouped_by_item = purchase_data_df.groupby(["Item Name"])
grouped_by_item.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [648]:
item_count = grouped_by_item["Item Name"].count()
sum_of_items = grouped_by_item["Price"].sum()
item_price = sum_of_items/item_count

In [649]:
popular_items_df = pd.DataFrame({"Purchase Count":item_count,"Item Price":item_price,"Total Purchase Value":sum_of_items})

In [650]:
popular_items_df["Item Price"]=popular_items_df["Item Price"].map("${:.2f}".format)
popular_items_df["Total Purchase Value"]=popular_items_df["Total Purchase Value"].map("${:.2f}".format)

In [651]:
popular_items_df = popular_items_df.sort_values("Purchase Count",ascending=False)
popular_items_df.head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77